.header{
  background-color: #0d0d10c1;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #263152;
  
}
.all-tasks{
  font-size: 2.3rem;
  font-weight: bold;
  flex: 1;
  margin-left: 3rem;
  font-weight: bold;
}
.search-bar-container{
  align-items: center;
  display: flex;
  gap: 1.2rem;
}
.search-bar:focus{
  outline: none;
  border-color: rgb(91, 127, 255);
}

.search-field {
  position: relative;
  width: 26.4rem;
}

.search-field i {
  color: rgb(63, 68, 92);
  left: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  cursor: text;
}

.header input {
  background-color: #131623;
  border: 1px solid #263152;
  border-radius: 7px;
  box-sizing: border-box;
  height: 3.8rem;
  padding-left: 3.8rem;
  width: 100%;
}
.header input::placeholder {
  color: rgb(63, 68, 92);
}
.add-task-button{
  background-color: rgb(91, 127, 255);
  color: white;
  outline: 0;
  border: none;
  font-size: 1.4rem;
  padding: 0 2rem;
  height: 3.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 2rem;
}
.menu-button{
  font-size: 2.3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
}
.close-dropdown-menu {
  font-size: 2.3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
}

