/* Large Laptops 1280px - 1552px */
@media (max-width: 97rem) {
  /*1552px*/
  html {
    font-size: 56.25%;
  }
  .task-container {
    width: 34rem;
  }
  .dropdown-menu{
    display: none;
  }
}
/* Small Laptops 1024px - 1280px */
@media (max-width: 80rem) {
  /*1280px*/
  html {
    font-size: 50%;
  }
  .task-container {
    width: 30.5rem;
  }
  .dropdown-menu{
    display: none;
  }
}
/*Phones in landscape 576px - 768px*/
@media (max-width: 45rem) {
  /*720px*/
  html {
    font-size: 43.75%;
  }
  .task-containers {
    gap: 1rem;
  }
  .all-tasks {
    margin-left: 2rem;
    gap: 2rem;
  }
  .clear-completed {
    flex-shrink: 0;
    
  }
  .sort-by {
    flex-shrink: 0;
    /*Force a text to go on one line*/
    white-space: nowrap;
  }
  .sort-clear-container{
    gap: 1rem;
  }
  .sidebar li{
    white-space: nowrap;
  }
  .dropdown-menu{
    display: none;
  }
}
/*Phone in potrait screen with less than */
@media (max-width: 32rem) {
  /*512px*/
  .html{
    font-size: 35.29%;
  }
  .sidebar {
    display: none;
  }
  .menu-button {
    display: inline;
  }
  .sort-clear-container{
    overflow: scroll;
  }
  .all-tasks{
    
    margin-left: 1rem;
  }
  .search-field i{
    margin-left: 2.5rem;
  }
  .header input {
    width: 90%;
    margin-left: 2.5rem;
  }
  .add-task-button{
    margin-right: 1rem;
    white-space: nowrap;
    padding: 0 1.3rem;
  }
  .new-task-form{
    height: auto;
    width: 100%;
  }
  #new-description{
    max-width: 100%;
    min-width: 100%;
  }
  .new-task-modal{
   top: -10rem;
  }
  .edit-task-form{
    height: auto;
    width: 100%;
  }
  .edit-task-modal{
   top: -10rem;
  }
  
}